body {
    margin: 0px;
    padding: 0px;
    background-image: url("background.png");
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.download a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image: url("download.png");
    width: 476px;
    height: 76px;
}